body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Colors */
  --color-steelblue-100: #4f5179;
  --color-steelblue-200: rgba(115, 115, 167, 0.52);
  --color-lightsteelblue: #aaaacd;

  /* Border radiuses */
  --br-11xs-6: 1.6px;
}
